@model Vidly.Models.Customer
@{
    ViewBag.Title = "ListCustomersMoviesList";
}

<h2>ListCustomersMoviesList</h2>
<table class="table table-bordered">
    <tr>
        <td>Movies</td>
    </tr>
</table>
